.details {
  flex: 10;
}
.filter__fields {
  /* width: 50%; */
  height: 100vh;
  float: right;
  margin-left: auto;
}
form {
  width: 98%;
  margin: 0 auto;
}
datalist {
  background-color: white;
}
#division {
  background-color: white;
}
.main__table {
  width: 97%;
  margin: auto;
}
tbody a {
  color: blue;
}
.danger {
  color: red;
}
