.filter__fields {
  flex: 7.5;
  /* width: 50%; */
  height: 100vh;
  float: right;
  margin-right: auto;
}
form {
  width: 98%;
  margin: 0 auto;
}
datalist {
  background-color: white;
}
#division {
  background-color: white;
}
